{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="upper-margin"></div>
<div class="ui stackable grid padded">
  <div class="sixteen wide mobile only sixteen wide tablet only column">
    <div class="ui segment" style="min-height:180px;">
      <img class="ui small rounded left floated image" src="{{ profile.profile_photo.url }}" alt="{{ profile.handle }}">
      <span class="ui large header grey">{{ profile.full_name }}</span><br>
      <a class="ui blue large header" href="{% url 'about_profile:index' profile.handle %}">@{{ profile.handle }}</a><br>
      <div class="ui medium header">{{ profile.short_description }}</div>
      <a href="{% url 'about_profile:about' handle=profile.handle %}">Read More</a>
    </div>
  </div>
  <div class="sixteen wide mobile twelve wide computer column">
    <div class="ui segment">
      <div class="column">
        <div class="ui left floated grey large header">Promises</div>
        <a class="ui right floated primary button">Add Promise</a>
        <div class="ui divider"></div>
      </div>
      <div class="column">
        
      </div>
    </div>
  </div>
  <div class="computer only four wide column">
    <div class="ui segment">
      <div class="column">
        <img class="ui medium centered rounded image" src="{{ profile.profile_photo.url }}" alt="{{ profile.handle }}">
      </div>
      <div class="column">
        <span class="ui large header grey">{{ profile.full_name }}</span><br>
        <a class="ui blue large header" href="{% url 'about_profile:index' profile.handle %}">@{{ profile.handle }}</a><br>
        <div class="ui medium header">{{ profile.short_description }}</div>
      </div>
      <div class="column">
        <div class="markdown">{{ profile.long_description }}</div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'lib/showdown/dist/showdown.min.js' %}"></script>
<script type="text/javascript">
  var showdownConverter = new showdown.Converter();
  $(".markdown").each(function () {
    $(this).html(showdownConverter.makeHtml($(this).text()));
  });
</script>
{% endblock %}