{% extends 'base.html' %}
{% load countries_dropdown %}

{% block content %}
<div class="ui container upper-margin">
  <div class="ui segment">
    <form class="ui equal width form" method="post" action="">
    {% csrf_token %}
      <div style="padding-bottom:30px;">
        <h2 class="ui left floated header">Account Info</h2>
        <button class="ui right floated button" type="submit">Update</button>
      </div>
      <div class="ui divider"></div>

      {% for field in form %}
        <div class="field">
          {{ field.label_tag }}
          <span class="field-error">{{ field.errors.as_text }}</span>
          {% if field.name == 'country' %}
            <div class="ui fluid search selection dropdown">
              {{ field }}
              <i class="dropdown icon"></i>
              <div class="default text">Your Country</div>
              <div class="menu">
                {% list_countries %}
              </div>
            </div>
          {% else %}
            {{ field }}
          {% endif %}
        </div>
      {% endfor %}

    </form>
  </div>
</div>
{% endblock %}