<div class="navbar">
  <div class="ui white small menu">

      <a href="/" class="item header">salticus</a>
      <a href="/" class="item">Item</a>

      <div class="right menu">
      {% if user.is_authenticated %}
        <a href="{% url 'account' %}" class="item">{{ user.username }}</a>
        <div class="item">
          <a href="{% url 'logout' %}" class="ui button">Logout</a>
        </div>
      {% else %}
        <a href="{% url 'signup' %}" class="item">Signup</a>
        <div class="item">
          <a href="{% url 'login' %}" class="ui primary button">Login</a>
        </div>
      {% endif %}
      </div>

  </div>
</div>