{% load countries_dropdown %}

<div class="navbar">
  <div class="ui white small menu">

      <a href="/" class="item header">salticus</a>
      <div class="ui selection dropdown item">
        <input type="hidden" name="country">
        <div class="text">
          <i class="in flag"></i>India
        </div>

        <div class="menu">
          {% list_countries %}
        </div>
      </div>

      <div class="right menu">
      {% if user.is_authenticated %}
        <a href="{% url 'account' %}" class="item">{{ user.username }}</a>
        <div class="item">
          <a href="{% url 'logout' %}" class="ui button">Logout</a>
        </div>
      {% else %}
        <a href="{% url 'signup' %}" class="item">Signup</a>
        <div class="item">
          <a href="{% url 'login' %}" class="ui primary button">Login</a>
        </div>
      {% endif %}
      </div>

  </div>
</div>